# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# --- Virtual Environment ---
venv/
env/
.venv/
ENV/
env.bak/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

Plank_Correct/*
!Plank_Correct/.gitkeep

warrior-ii_data/Correct/Images/*
warrior-ii_data/Correct/Images/.gitkeep
warrior-ii_data/Correct/Videos/*
warrior-ii_data/Correct/Videos/.gitkeep

*.jpg
.png